.main {
	color: white;
	width: 200%;
	top: -7rem ;
}
.onCon {
	margin-left: 3rem;
	margin-right: 3rem;
	margin-bottom: 1rem;
	overflow: visible;
}
.rightBtn:hover {
	background: linear-gradient( to right, rgba(0, 0, 0, 0) 1%, rgb(0, 0, 0) );
}
.leftBtn:hover {
	background: linear-gradient( to left, rgba(0, 0, 0, 0) 1%, rgb(0, 0, 0) );
}
.rightBtn {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 50%;
	height: 102%;

	padding-right: 1rem;
	border: 0;
	background-color: transparent;
	cursor: pointer;
	color: white;
	z-index: 100;
	font-size: 40px;
  transition: transform 300ms ease 100ms;
}
.leftBtn {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: -3rem;
	height: 102%;

	padding-left: 1rem;
	border: 0;
	background-color: transparent;
	cursor: pointer;
	color: white;
	z-index: 100;
	font-size: 40px;
  transition: transform 300ms ease 100ms;
}
.con {
	display: flex;
  transition: all 300ms ease 100ms;
	z-index: 99;
}
.box {
	width: 16.66%;
	position: relative;
	padding-right: 10px;
	transition: transform 300ms ease 100ms;
}
.con:hover .box {
	transform: translateX(-10%);
  transition: transform 300ms ease 100ms;
}
.box:hover ~ .box {
	transform: translateX(10%);
  transition: transform 300ms ease 100ms;
}
.con .box:hover {
	transform: scale(1.2);
	z-index: 99;
  transition: all 300ms ease 100ms;
}
.con:hover .frontbox {
	transform: translateX(-22%);
  transition: all 300ms ease 100ms;
}
.lastbox:hover {
	transform: scale(1.2) translateX(-10%) !important;
  transition: all 300ms ease 100ms;
}
.next {
	transform:translateX(-50%);
	transition: transform 300ms ease 100ms;
}
