* {
	position: relative;
  margin: 0;
  padding: 0;
}

.body {
  min-width: 1250px;
  overflow-x: hidden;
  background-color: black;
  margin: 0;
  padding: 0;
}

.underline {
	background-color: rgb(34, 34, 34);
	height: 0.5rem;
}

.slick-slide {
  position: relative !important;
  height: auto !important;
  /*padding: 2rem 0 !important;*/
  /*box-sizing: border-box !important;*/
  /*width: 4% !important;*/
}
.slick-list {
  position: relative !important;
  /*overflow: visible !important;*/
  /*clip-path: inset( -100vw -100vw -100vw 0 ) !important;*/
  /*z-index: 999 !important;*/
  /*margin: 0 3rem !important;*/
  /*padding-right: 5rem !important;*/
}
